@model IndexViewModel

<table class="table document-table">
    <thead>
        <tr>
            <th>Id</th>
            <th>User Id</th>
            <th>Name</th>
            <th>Original Name</th>
            <th>Document Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doc in Model.Documents)
        {
            <tr class="document-table">
                <td>@doc.Id</td>
                <td>@doc.UserId</td>
                <td><a href="@Url.Action("Details", "Document", new { id = doc.Id })">@doc.DocumentName</a></td>
                <td>@doc.OriginalDocumentName</td>
                <td>@doc.DocumentDate</td>
                <td>
                    <a asp-controller="Document" asp-action="Edit" asp-route-id="@doc.Id">Edit</a> |
                    <a asp-controller="Document" asp-action="Details" asp-route-id="@doc.Id">Details</a> |
                    <a asp-controller="Document" asp-action="Delete" asp-route-id="@doc.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>