@model IndexViewModel

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>User Id</th>
            <th>Name</th>
            <th>Original Name</th>
            <th>Document Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doc in Model.Documents)
        {
            <tr>
                <td>@doc.Id</td>
                <td>@doc.UserId</td>
                <td><a href="@Url.Action("Details", "DocumentModels", new { id = doc.Id })">@doc.DocumentName</a></td>
                <td>@doc.OriginalDocumentName</td>
                <td>@doc.DocumentDate</td>
            </tr>
        }
    </tbody>
</table>