@{
    ViewData["Title"] = "Home Page";
}

@using CWDocMgr.Models
@model IndexViewModel
@{
    ViewData["Title"] = "CWDocMgr Home Page";
    Layout = "_Layout";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<a asp-controller="Home" asp-action="UploadDoc" class="btn btn-primary">Upload Document</a>
<br />

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>User Id</th>
            <th>Name</th>
            <th>Original Name</th>
            <th>Document Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doc in Model.Documents)
        {
            <tr>
                <td>@doc.Id</td>
                <td>@doc.UserId</td>
                <td><a href="@Url.Action("Details", "DocumentModels", new { id = doc.Id })">@doc.DocumentName</a></td>
                <td>@doc.OriginalDocumentName</td>
                <td>@doc.DocumentDate</td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>
        }
    </ul>
</nav>


 <script>

    function DeleteDoc(id) {
        var del = confirm("Are you sure you want to delete this document?");
        if (!del)
            return;

        var dataToPost = {
            documentId: id
        }

        $.ajax(
            {
                method: "POST",
                data: dataToPost,
                url: "/Home/Delete"
            }).done(function (response) {
                window.location.reload();
                return false;
            }).fail(function (jqXHR, status) {
                alert(status);
            });
    }

</script>
